@charset "UTF-8";
label {
	margin-bottom: 0;
	margin-right: 10px;
	margin-left: 10px;
	width:70px;
}
#navContents {
	height:auto;
}
nav > img {
	width: 100%
}
ul > li:hover {
	background-color: #84cbfb;
	color: white;
}
a {
	text-decoration:none;
	color: white;
}
footer {
	height:50px;
	font-size: 13px;
}
