@charset "UTF-8";
header {
	height:100px;
}
nav {
	height: 40px;
}
nav > ul > li > a {
	text-decoration: none;
	color:white;
	font-weight: bold;
}
.bg-lightbrown {
	background-color: #c08383;
}
.banner {
	height:300px;
}
.bg-brown {
	background-color: #804040;
}
.info {
	height:250px;
}
.info-text {
	padding:10%;
}
section {
	height:auto;
}
footer {
	height: 100px;
}